
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-6 my-auto">
                <div class="copyright text-center text-sm text-white text-lg-start">
                    ©2024
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by Freddy Muleya
                    
                </div>
            </div>
            <div class="col-12 col-md-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <NavLink href="/about" class="nav-link text-white" target="_blank">
                            About
                            Us
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink href="/terms" class="nav-link text-white" target="_blank">Terms & Conditions</NavLink>
                    </li>
                    
                    <li class="nav-item">
                        <NavLink href="/privacy" class="nav-link text-white" target="_blank">Privacy Policy</NavLink>
                    </li> 
                </ul>
            </div>
        </div>
    
